.textfield-skeleton, .textfield-skeleton__dark {
    background-color: transparent;
    border: 0;
    padding: 5px;
    resize: none;
    width: 96%;
    height: 300px;
    outline: none;
    overflow: auto;
}
.textfield-skeleton__dark {
    opacity: 0.1;
}