.favorites-page-wrapper, .favorites-page-wrapper__dark {
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    z-index: 3;
}
.favorites-page-wrapper {
    transition: background-color 0.25s ease-in-out !important;
    transition: color 0.25s ease-in-out;
}
.favorites-page-wrapper__dark {
    background-color: #1a1919;
    color: white;
    transition: background-color 0.25s ease-in-out !important;
    transition: color 0.25s ease-in-out;
}
.fields-favorites__wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto 3% auto;
    border: 1px solid rgb(176, 175, 175);
    border-radius: 6px;
    background-color: rgba(240, 219, 219, 0.038);
    box-shadow: 0 0 3px rgb(175, 172, 172);
    border-top-left-radius: 7px;
}
.fav-headline {
    width: 70%;
    text-align: left;
    margin: 20px auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.fav-headline__wrapper {
    background-color: #ebebeb;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 15px;
    transition: 0.3s;
}
.fav-headline__wrapper__dark {
    background-color: #2e2e2e;
    border-bottom: 1px solid white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 15px;
    transition: 0.3s;
}
.fav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
}
.fav-translation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: 5px auto;
    border: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 15px 12px;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(242, 242, 242, 0.543);
}
.fav-translation__item {
    border-bottom: 1px solid black;
    margin: 5px 0 0;
}
.fav-translation__item-lang {
    margin: 15px 0;
}
.fav-translation__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.remove-fav {
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 5px;
    transition: 0.3s;
    font-size: 1em;
    border-radius: 2px;
    width: 100%;
    background-color: rgb(247, 79, 41);
}
.remove-fav:hover {
    background-color: rgb(125, 23, 1);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.clear-favs {
    margin: 10px auto;
    width: 70%;
}
.clear-favs-btn {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(177, 199, 241);
    border-radius: 6px;
    transition: 0.3s;
}
.clear-favs-btn:hover {
    background-color: rgb(213, 69, 36);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.fav-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.fav-goBack__wrapper {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.fav-goBack {
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 auto;
    background-color: rgb(112, 193, 255);
}
.fav-goBack:hover {
    background-color: rgb(177, 199, 241);
    transition: 0.3s;
}
.no-favs {
    text-align: center;
    margin-top: 60px;
}
.fav-lang, .fav-lang__dark {
    text-transform: uppercase;
    color: rgb(93, 143, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fav-lang__dark {
    color: rgb(24, 75, 97);
}
@media screen and (max-width: 600px) {
    .bottom-space {
        height: 40px;
    }
}
