.textfield__dark, .textfield {
    background-color: transparent;
    border: 0;
    padding: 15px 5px;
    resize: none;
    width: 100%;
    text-indent: 15px;
    height: 400px;
    outline: none;
    overflow: auto;
    font-size: 22px;
}
.textfield {
    color: black;
}
.textfield__dark {
    color: white;
}
.textfield__wrapper {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .textfield, .textfield__dark {
        height: 200px;
    }
}
.textfield__count {
    margin-bottom: 5px;
    margin-left: 15px;
    color: #2e2e2e;
}
.textfield__count__dark {
    margin-bottom: 5px;
    margin-left: 15px;
    color: #fffff5;
}
.textfield__clear {
    margin: 5px 10px;
}
.textfield__clear-btn, .textfield__clear-btn__dark {
    padding: 2px 9px 4px 9px;
    border: 1px solid transparent;
    border-radius: 9px;
    background-color: transparent;
    color: #fffff5;
    font-size: 1.5em;
}
.textfield__clear-btn__dark {
    color: #2e2e2e;
}
.textfield__clear-btn:hover, .textfield__clear-btn__dark:hover {
    background-color: #a8a8a9;
    transition: 0.3s;
    cursor: pointer;
}
.action-btn, .action-btn__dark {
    background-color: transparent;
    border: 0;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
}
.action-btn:hover {
    background-color: #d7d6d6;
    transition: 0.3s;
    cursor: pointer;
}
.action-btn__dark:hover {
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}
.textfield__options {
    display: flex;
    justify-content: flex-end;
}
.textfield__options-btn {
    margin: 3px 7px;
}
